<div class="container-fluid dashboard-box">
	
<div class="dash-nav pull-right">
Logged in as: <%= @user.name %><br>
<%= link_to "Logout", logout_path, class: "btn btn-sm btn-secondary" %></div>

<div class="container-fluid col-md-6">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item">
    <h4 class="list-group-item-heading">My Heart Rate Activity:</h4>
  </a>
  <a href="#" class="list-group-item list-group-item-danger" id="high-intensity">
    <h4 class="list-group-item-heading">Peak Intensity</h4>
    <p class="list-group-item-text" id="high-data"></p>
  </a>
  <a href="#" class="list-group-item list-group-item-warning">
    <h4 class="list-group-item-heading">Moderate Intensity:</h4>
    <p class="list-group-item-text"><%= @heart_data.med['caloriesOut'].to_i %> calories burned this week at a heart rate between 133 and 160 bpm</p>
  </a>
  <a href="#" class="list-group-item list-group-item-success">
    <h4 class="list-group-item-heading">Low Intensity:</h4>
    <p class="list-group-item-text"><%= @heart_data.low['caloriesOut'].to_i %> calories burned this week at a heart rate between 95 and 132 bpm</p>
  </a>
  <a href="#" class="list-group-item list-group-item-info">
    <h4 class="list-group-item-heading">At Rest:</h4>
    <p class="list-group-item-text"><%= @heart_data.rest['caloriesOut'].to_i %> calories burned this week at a heart rate below 95 bpm</p>
  </a>
</div>
<div class="card-inverse">
<h4 class="card-header card-info">Calories Burned by Intensity:</h4>
<div class="card-body">
<%= pie_chart({"High" => @heart_data.high['caloriesOut'], "Medium" => @heart_data.med['caloriesOut'], "Low" => @heart_data.low['caloriesOut'], "At Rest" => @heart_data.rest['caloriesOut']}) %>
</div>
</div>
</div>


<div class="col-md-6">Playlist Data: <br>
<%= @spotify_data %> </div>

</div>